@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --color-purple-500: oklch(66.7% 0.295 322.15);
    --color-purple2-500:oklch(59.1% 0.293 322.896);
    --color-purple3-500: oklch(51.8% 0.253 323.949);
}



/* @custom-variant dark (@media(prefers-color-scheme: dark));

@theme {
    --color-main: #00fcf4;
    --color-accent: #fc5400;
} */